<script type="text/html" data-help-name="component">
    <p>
        Knoten, der eine ausgewählte Komponente ausführt. 
        Im Editor kann aus allen definierten Komponenten eine ausgewählt werden, die von diesem Knoten aufgerufen werden soll.
        Nach der Auswahl erscheinen alle Parameter der API der Komponente und es kann bestimmt werden, aus welcher Quelle der jeweilge
        Parameter seinen Wert erhalten soll. Dies erspart das Vorbereiten von message parts durch Change Knoten etc.
    </p>
    <p>
        Parameter, die erwartet werden, müssen mit einem gültigen Wert definiert werden (nicht <code>null</code> und nicht <code>undefined</code>),
        sonst erscheint beim Ausführen der Komponente ein Fehler.
    </p>
    <h3>Inputs</h3>
        <p>
        Je Parameter wird hier ein Wert konfiguriert, der an die Komponente in der message übergeben wird.
        </p>
 </script>