<!--
			******* COMPONENT RETURN *************
-->
<script type="text/javascript">
	const findStartNodes = function (nodeId, sources = {}, visited = [], found = []) {
		if (visited.includes(nodeId)) {
			return sources;
		}
		visited.push(nodeId);
		let node = RED.nodes.node(nodeId);
		if (node.type == "component_in") {
			found.push(nodeId);
		}
		RED.nodes.eachLink((link) => {
			if (link.target.id == nodeId) {
				sources[link.source.id] = {};
				findStartNodes(link.source.id, sources[link.source.id], visited, found);
			}
		});
		if (node.type == "link in") {
			let linkOuts = node.links;
			for (let lout of linkOuts) {
				sources[lout] = {};
				findStartNodes(lout, sources[lout], visited, found);
			};
		}
		return found;
	};

	const MSG_NOT_CONNECTED = "node is not connected";
	const MSG_TOO_MANY_START_NODES = "node is connected to multiple start nodes";

	const doValidate = function (val) {
		let node = val;
		if (val == null || typeof (val) != "object") {
			node = RED.nodes.node(this.id);
			console.log("in name validation", val, node);
		}
		node.validationErrors = [];
		let startNodes = findStartNodes(node.id);
		if (startNodes.length == 0) {
			if (!node.validationErrors.includes(MSG_NOT_CONNECTED)) {
				node.validationErrors.push(MSG_NOT_CONNECTED);
				node.change = true;
				RED.view.redraw(node);
			}
		} else if (startNodes.length > 1) {
			if (!node.validationErrors.includes(MSG_TOO_MANY_START_NODES)) {
				node.validationErrors.push(MSG_TOO_MANY_START_NODES);
				node.change = true;
				RED.view.redraw(node);
			}
		} else {
			if (node.validationErrors.includes(MSG_NOT_CONNECTED)) {
				const index = node.validationErrors.indexOf(MSG_NOT_CONNECTED);
				if (index > -1) {
					node.validationErrors.splice(index, 1);
					node.change = true;
					RED.view.redraw(node);
				}
			}
			if (node.validationErrors.includes(MSG_TOO_MANY_START_NODES)) {
				const index = node.validationErrors.indexOf(MSG_TOO_MANY_START_NODES);
				if (index > -1) {
					node.validationErrors.splice(index, 1);
					node.change = true;
					RED.view.redraw(node);
				}
			}
		}
		node.valid = node.validationErrors.length == 0;
		return node.valid;
	}

	const handlerX = function (event) {
		if (event.node.type == "component_out") {
			doValidate(event.node)
		}
	};
	RED.hooks.add("viewRedrawNode", handlerX);

	RED.nodes.registerType('component_out', {
		category: COMPONENTS_CATEGORY,
		color: COMPONENTS_COLOR,
		label: function () {
			if (RED.nodes.subflow(this.z)) {
				return "Define Components only outside of subflows"
			} else {
				return this.name || "comp return";
			}
		},
		align: 'right',
		defaults: {
			name: { value: null, validate: doValidate },
			mode: { value: "default" },
			component_definitions_are_NOT_allowed_inside_subflows: {
				value: false, validate: function (v) {
					return !RED.nodes.subflow(this.z)
				}
			},
		},
		inputs: 1,
		outputs: 0,
		icon: "font-awesome/fa-mail-reply",
		paletteLabel: "comp return",
		oneditprepare: function () {
			// NOT allowed inside subflows.
			if (RED.nodes.subflow(this.z)) {
				$(".invalid").show()
				$(".valid").hide()
				//this.invalid = true;
			} else {
				// support legacy
				if (this.mode === undefined) {
					$('select option[value="default"]').attr("selected", true);
				}
				$(".valid").show()
				$(".invalid").hide()
			}
		}
	});
</script>
<script type="text/x-red" data-template-name="component_out">
    <div class="form-row invalid" style="color: orange">
        <label><i class="fa fa-exclamation-triangle"></i></label>
        <span data-i18n="components.message.componentInSubflow"></span>
    </div>
    <div class="form-row valid">
        <label for="node-input-name" data-i18n="components.label.name"><i class="icon-tag"></i></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]components.label.name">
    </div>
    <div class="form-row valid">
        <label for="node-input-mode" data-i18n="components.label.mode.label"><i class="icon-tag"></i></label>
        <select id="node-input-mode">
			<option value="default" data-i18n="components.label.mode.default" />
			<option value="separate" data-i18n="components.label.mode.separate" />
		</select>
    </div>
</script>