<!--
			******* COMPONENT IN *************
-->

<script type="text/javascript">
	const COMPONENTS_COLOR = "#1dc91d";
	const COMPONENTS_CATEGORY = "advanced";

	// find all RETURN component nodes, that are connected to me.
	// traverses all connected nodes, including link nodes
	const findReturnNodes = function (nodeid, foundNodes, type = "component_out") {
		function getNodeById(nodeid) {
			return RED.nodes.originalFlow().find((node) => {
				return node.id == nodeid;
			});
		}
		function getNodeConfigById(nodeid) {
			let found = null;
			RED.nodes.eachNode((n) => {
				if (n.id == nodeid) {
					found = n;
				}
			});
			return found;
		}
		// console.log(".", RED.nodes, RED.nodes.originalFlow())
		let node = getNodeById(nodeid)
		let config = getNodeConfigById(nodeid)
		if (node.wires && node.wires.length > 0) {
			node.wires.forEach((outPort) => {
				outPort.forEach((childid) => {
					let child = getNodeById(childid);
					if (child.type == type) {
						foundNodes[childid] = child;
					} else if (child.type == "link out") {
						// look for more nodes at the other side of the link
						child.links.forEach((linkid) => {
							let link = getNodeById(linkid);
							findReturnNodes(linkid, foundNodes)
						})
					} else {
						// look for connected nodes
						findReturnNodes(childid, foundNodes)
					}
				})
			});
		}
	}
	const findInstances = function (nodeid, foundNodes) {
		function getNodeById(nodeid) {
			return RED.nodes.originalFlow().filter((node) => {
				return node.type == "component" && node.targetComponent && node.targetComponent.id == nodeid;
			});
		}
		getNodeById(nodeid).forEach((inst) => {
			foundNodes[inst.id] = inst
		})
	}

	RED.nodes.registerType('component_in', {
		category: COMPONENTS_CATEGORY,
		color: COMPONENTS_COLOR,
		defaults: {
			name: { value: "component in" },
			api: { value: [{ name: "prop", type: "string" }] },
			component_definitions_are_NOT_allowed_inside_subflows: {
				value: RED.nodes.subflow(this.z), validate: function (v) {
					return !RED.nodes.subflow(this.z)
				}
			},
		},
		label: function () {
			if (RED.nodes.subflow(this.z)) {
				return "Define Components only outside of subflows"
			} else {
				return this.name || "comp start";
			}
		},
		inputs: 0,
		outputs: 1,
		icon: "inject.svg",
		paletteLabel: "comp start",
		oneditprepare: function () {
			try {
				if (RED.nodes.subflow(this.z)) {
					$(".invalid").show()
					$(".valid").hide()
				} else {
					$(".valid").show()
					$(".invalid").hide()

					if (RED.nodes.subflow(this.z)) {
						console.log("Component IN must not be in Subflow", this)
					}

					let i18n = this._;
					function resizeRule(item) {
						// not used yet
					}
					$('#node-input-api-container').css('min-height', '250px').css('min-width', '450px').editableList({
						addItem: function (container, i, property) {
							if (!property.type) {
								// empty, new item
								property.type = "any";
								property.required = true;
							}
							container.css({
								overflow: 'hidden',
								whiteSpace: 'nowrap'
							});
							var row1 = $('<div style="display: flex;"/>').appendTo(container);
							//var row2 = $('<div/>', { style: "margin-top:8px;" }).appendTo(container);

							var propertyName = $('<input/>', { class: "node-input-property-name", style: "margin-right:10px; flex: 1 0 max-content;", type: "text", placeholder: "name" }).appendTo(row1);
							var selectField = $('<select/>', { class: "node-input-property-type", style: "margin-right:10px;  flex: 0 0 min-content;" }).appendTo(row1);
							var selectOptions = [{ v: "any", l: "any" }, { v: "string", l: "string" }, { v: "number", l: "number" }, { v: "json", l: "json" }, { v: "boolean", l: "boolean" }];
							for (var i = 0; i < selectOptions.length; i++) {
								selectField.append($("<option></option>").val(selectOptions[i].v).text(selectOptions[i].l));
							}
							// next column: checkboxes for required / validate stacked vertically
							var checkBoxes = $('<div>', { style: "flex: 0 0 min-content; display: flex; flex-direction: column" }).appendTo(row1);

							var checkRow1 = $('<div>', { style: "flex: 0 0 min-content; display: flex; align-items: top" }).appendTo(checkBoxes);
							var required = $('<input/>', { id: "cb_" + i, class: "node-input-property-required", type: "checkbox", style: "flex: 1;" }).appendTo(checkRow1);
							$('<label/>', { text: i18n("components.label.required"), 'for': 'cb_' + i, style: "flex: 2;" }).appendTo(checkRow1);

							propertyName.val(property.name);
							selectField.val(property.type);
							required.prop("checked", property.required);
							// validate.prop("checked", property.validate);
							resizeRule(container);
						},
						resizeItem: resizeRule,
						removable: true,
						sortable: true
					});

					if (!this.api) {
						this.api = [];
						this.api.push({ name: "payload", type: "any" });
					}

					// set api properties
					for (var i = 0; i < this.api.length; i++) {
						var prop = this.api[i];
						$("#node-input-api-container").editableList('addItem', prop);
					}
				}

			} catch (err) {
				console.error(err);
				throw err;
			}
		},
		oneditsave: function () {
			var api = $("#node-input-api-container").editableList('items');
			var node = this;
			node.api = [];
			api.each(function (i) {
				var property = $(this);
				var name = property.find(".node-input-property-name").val();
				var type = property.find(".node-input-property-type").val();
				var required = property.find(".node-input-property-required")[0].checked;
				node.api.push({ name, type, required });

			});
		}
	});
</script>
<script type="text/x-red" data-template-name="component_in">
    <div class="form-row invalid" style="color: orange">
        <label><i class="fa fa-exclamation-triangle"></i></label>
        <span data-i18n="components.message.componentInSubflow"></span>
    </div>
    <div class="form-row valid">
        <label for="node-input-name" data-i18n="components.label.name"><i class="icon-tag"></i></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]components.label.name">
    </div>
	<div class="form-row valid" style="margin-bottom:0;">
        <label data-i18n="components.label.api"><i class="fa fa-list"></i> </label>
    </div>
    <div class="form-row node-input-api-container-row valid">
        <ol id="node-input-api-container"></ol>
    </div>
</script>

<!--
			******* RUN COMPONENT *************
-->
<script type="text/javascript">
	RED.nodes.registerType('component', {
		category: COMPONENTS_CATEGORY,
		color: COMPONENTS_COLOR,
		label: function () {
			return this.name || (this.targetComponent ? "-> " + this.targetComponent.name : false) || "run ???";
		},
		defaults: {
			name: { value: "" },
			targetComponent: { value: null, required: true },
			paramSources: { value: {} },
			statuz: { value: "", validate: RED.validators.typedInput("statuzType") },
			statuzType: { value: "str" },
			outputs: { value: 1 },
			outLabels: { value: ["default"] }
		},
		inputs: 1,
		outputs: 1,
		outputLabels: function (index) {
			if (this.outLabels && this.outLabels.length && this.outLabels.length > 0) {
				return this.outLabels[index];
			} else {
				return "default";
			}
		},
		icon: "font-awesome/fa-retweet",
		paletteLabel: "use comp",
		oneditprepare: function () {
			try {
				this.editor = RED.editor.createEditor({
					id: 'node-description-editor',
					mode: 'ace/mode/markdown',
					value: $("#node-input-info").val()
				});

				let config = this;

				let myComponent;

				let updateParameters = function (compNode, paramSources) {
					$("#node-input-parameter-container").editableList('empty');
					let api = compNode.api;
					for (var i = 0; i < api.length; i++) {
						var param = $.extend({}, api[i]);
						if (paramSources) {
							let paramSource = paramSources[param.name];
							if (paramSource) {
								param.source = paramSource.source;
								param.sourceType = paramSource.sourceType;
							}
						}
						$("#node-input-parameter-container").editableList('addItem', param);
					}
				}

				// select component
				let tabs = {};
				let componentNodes = {};
				RED.nodes.eachNode(function (node) {
					if (node.type == "component_in") {
						if (!tabs[node.z]) {
							var flow = RED.nodes.workspace(node.z);
							if (!flow) {
								flow = RED.nodes.subflow(node.z);
							}
							tabs[node.z] = { label: flow.label || flow.name, components: {} };
						}
						tabs[node.z].components[node.id] = node;
						componentNodes[node.id] = node;
					}
				});
				for (let z in tabs) {
					let tab = tabs[z];
					let optionGroup = $('<optgroup label="' + tab.label + '"></optgroup>').appendTo($("#node-input-selected"));
					for (let n in tab.components) {
						let node = tab.components[n];
						let option = '<option value="' + node.id + '"';
						option += '>' + node.name + '</option>';
						optionGroup.append(option);
					}
				}
				if (config.targetComponent) {
					$("#node-input-selected").val(config.targetComponent.id);
				}
				$("#node-input-selected").change(function () {
					// let changeIndex = 1;
					let selectedNodeId = this.value;
					if (selectedNodeId && config.targetComponent) {
						updateParameters(componentNodes[selectedNodeId], (selectedNodeId == config.targetComponent.id ? config.paramSources : null));
					}
				});

				var statusCtrl = $('#node-input-statuz');
				statusCtrl.typedInput({
					default: this.statuzType || "str",
					types: ["msg", "str", "num", "bool", "json", "jsonata"],
				});

				function resetWidth(ol) {
					let itemCount = ol.children().length;
					let max0 = 0, max1 = 0;
					for (let i = 0; i < itemCount; i++) {
						let li = ol.children().eq(i);
						let div = li.children().eq(0);
						let w0 = div.children().eq(0).width();
						if (w0 > max0) max0 = w0;
						let w1 = div.children().eq(1).width();
						if (w1 > max1) max1 = w1;
					};
					// now set width
					for (let i = 0; i < itemCount; i++) {
						let li = ol.children().eq(i);
						let div = li.children().eq(0);
						div.children().eq(0).css("minWidth", max0 + "px");
						div.children().eq(1).css("minWidth", max1 + "px");
						div.children().eq(2).children().eq(1).width((div.width() - max0 - max1 - 30) + "px");
					}
				}

				let container = $('#node-input-parameter-container').css('min-height', '250px').css('min-width', '450px').editableList({
					addItem: function (container, i, opt) {
						var property = opt;
						if (!property.type) {
							// empty, new item
							property.type = "any";
						}
						container.css({
							overflow: 'hidden',
							whiteSpace: 'nowrap',
							display: "flex",
							alignItems: "center"
						});

						var propertyName = $('<span/>', { class: "node-input-property-name", style: "font-weight: bold; margin-right:10px; line-height: 32px; flex: 1 0 min-content;" }).append(property.name).appendTo(container);
						var propertyType = $('<span/>', { class: "node-input-property-type", style: "margin-right:10px; line-height: 32px; flex: 1 0 min-content;" }).append("[" + property.type + "]").appendTo(container);
						var selectSourceDiv = $('<div/>', { class: "node-input-property-source", style: "margin-right:10px; flex: 1 0;" }).appendTo(container);
						var selectSource = $('<input/>', {}).appendTo(selectSourceDiv);
						var validateCheckbox = $('<span/>', { class: "node-input-property-validate", style: "margin-right:10px; line-height: 32px; flex: 1 0 min-content;" }).append("[" + property.type + "]").appendTo(container);

						const pTypes = {
							any: null,
							json: null,
							boolean: ["msg", "flow", "global", "bool", "json", "jsonata", "env"],
							number: ["msg", "flow", "global", "num", "json", "jsonata", "env"],
							string: ["msg", "flow", "global", "str", "json", "jsonata", "env"]
						};
						let pType = pTypes[property.type];
						selectSource.typedInput({
							default: "msg",
							width: "100px",
							types: pType
						});

						selectSource.typedInput('value', property.source);
						selectSource.typedInput('type', property.sourceType);

						resetWidth(container);
					},
					removable: false,
					sortable: false,
					addButton: false
				})
				this.observer = new ResizeObserver(entries => {
					resetWidth(container);
				});
				this.observer.observe(document.querySelector('#node-input-parameter-container'))

				$("#node-input-selected").change();
			} catch (err) {
				console.error(err);
				throw err;
			}

			// Handle output ports depending on number of componet flow's return nodes.
			let node = this
			let oldLabels = [...node.outLabels]
			let newLabels = []
			console.log("old", node.outLabels.length, node.outLabels, oldLabels)

			let foundReturnNodes = {}
			findReturnNodes(node.targetComponent.id, foundReturnNodes)
			for (let key in foundReturnNodes) {
				let retNode = foundReturnNodes[key]
				if (retNode.mode && retNode.mode == "separate") {
					newLabels.push(retNode.name || key)
				} else {
					if (newLabels.length == 0 || newLabels[0] != "default") {
						newLabels.splice(0, 0, "default")
					}
				}
			}
			console.log("neu", newLabels)
			let diff = newLabels.length != oldLabels.length;
			// check labels for changes
			if (!diff) {
				for (let i in newLabels) {
					if (newLabels[i] != oldLabels[i]) {
						diff = true;
						break;
					}
				}
			}
			console.log("diff", diff, $("#output-alert"))
			if (diff) {
				$("#output-alert").show()
			} else {
				$("#output-alert").hide()
			}

		},
		oneditsave: function () {
			var node = this;

			try {
				// save parameter sources for selected component
				$("#node-input-info").val(this.editor.getValue());
				// get target node ID
				let selectedComponentId = $("#node-input-selected").find("option:selected").val();

				this.statuzType = $("#node-input-statuz").typedInput('type');

				// get target node 
				node.targetComponent = null;
				RED.nodes.eachNode(function (n) {
					if (n.id == selectedComponentId) {
						node.targetComponent = {
							id: n.id,
							name: n.name,
							api: n.api
						};
					}
				});

				if (node.targetComponent == null) {
					throw "could not find target node for ID '" + selectedComponentId + "'";
				}

				// save parameters from list
				var params = $("#node-input-parameter-container").editableList('items');
				node.paramSources = {};
				node.targetComponent.api.forEach(function (p) {
					node.paramSources[p.name] = $.extend({}, p);
				});
				params.each(function (i) {
					let item = $(this);
					let name = item.find(".node-input-property-name").text();
					let type = item.find(".node-input-property-type").text();
					let source = item.find(".node-input-property-source input").typedInput('value');
					let sourceType = item.find(".node-input-property-source input").typedInput('type');
					let param = node.paramSources[name];
					param.source = source;
					param.sourceType = sourceType;
				});
			} catch (err) {
				console.error(err);
				throw err;
			}
			if (this.observer) {
				this.observer.disconnect()
				this.observer = undefined
			}

			// Handle output ports depending on number of componet flow's return nodes.
			let foundReturnNodes = {}
			findReturnNodes(node.targetComponent.id, foundReturnNodes)
			node.outLabels = []
			for (let key in foundReturnNodes) {
				let retNode = foundReturnNodes[key]
				if (retNode.mode && retNode.mode == "separate") {
					node.outLabels.push(retNode.name || key)
				} else {
					if (node.outLabels.length == 0 || node.outLabels[0] != "default") {
						node.outLabels.splice(0, 0, "default")
					}
				}
			}
			node.outputs = node.outLabels.length;

			this.editor.destroy();
			delete node.editor;
		},
		oneditcancel: function () {
			if (this.observer) {
				this.observer.disconnect()
				this.observer = undefined
			}
			this.editor.destroy();
			delete this.editor;
		}
	});
</script>
<script type="text/x-red" data-template-name="component">
    <div class="form-row">
        <label for="node-input-name" data-i18n="components.label.name"><i class="icon-tag"></i></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]components.label.name">
    </div>
    <div class="form-row">
		<label for="node-input-selected" data-i18n="components.label.component"><i class="fa fa-random"></i> <span></span></label>
		<select id="node-input-selected"></select>
	</div>
	<div class="form-row">
		<label for="node-input-statuz"><i class="fa fa-dot-circle-o"></i> <span data-i18n="components.label.status"></span></label>
        <input id="node-input-statuz" type="text">
		<input id="node-input-statuz-type" type="hidden">
	</div>
	<div class="form-row" style="color: orange" id="output-alert">
		<label><i class="fa fa-exclamation-triangle"></i> <span data-i18n="components.label.outportChange"></span></label>
        <span data-i18n="components.message.outportChange"></span>
	</div>
	<div class="form-row node-input-parameter-container-row">
        <ol id="node-input-parameter-container"></ol>
    </div>
</script>

<!--
			******* COMPONENT RETURN *************
-->
<script type="text/javascript">
	RED.nodes.registerType('component_out', {
		category: COMPONENTS_CATEGORY,
		color: COMPONENTS_COLOR,
		label: function () {
			if (RED.nodes.subflow(this.z)) {
				return "Define Components only outside of subflows"
			} else {
				return this.name || "comp return";
			}
		},
		align: 'right',
		defaults: {
			name: { value: null },
			mode: { value: "default" },
			component_definitions_are_NOT_allowed_inside_subflows: {
				value: true, validate: function (v) {
					return !RED.nodes.subflow(this.z)
				}
			},
		},
		inputs: 1,
		outputs: 0,
		icon: "font-awesome/fa-mail-reply",
		paletteLabel: "comp return",
		oneditprepare: function () {

			// NOT allowed inside subflows.
			if (RED.nodes.subflow(this.z)) {
				$(".invalid").show()
				$(".valid").hide()
				this.invalid = true;
			} else {
				// support legacy
				if (this.mode === undefined) {
					$('select option[value="default"]').attr("selected", true);
				}
				$(".valid").show()
				$(".invalid").hide()
			}

		}
	});
</script>
<script type="text/x-red" data-template-name="component_out">
    <div class="form-row invalid" style="color: orange">
        <label><i class="fa fa-exclamation-triangle"></i></label>
        <span data-i18n="components.message.componentInSubflow"></span>
    </div>
    <div class="form-row valid">
        <label for="node-input-name" data-i18n="components.label.name"><i class="icon-tag"></i></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]components.label.name">
    </div>
    <div class="form-row valid">
        <label for="node-input-mode" data-i18n="components.label.mode.label"><i class="icon-tag"></i></label>
        <select id="node-input-mode">
			<option value="default" data-i18n="components.label.mode.default" />
			<option value="separate" data-i18n="components.label.mode.separate" />
		</select>
    </div>
</script>